.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.weatherBg {
  background: url(https://www.awxcdn.com/adc-assets/images/hero/4/1440x450.jpg) 50% no-repeat,linear-gradient(#878787,#ebebeb);
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: white;
  font-weight: 700;
}

.weather-icon {
  width: 100px;
  height: 100px;
}
.weather-city {
  font-size: 25px;
}
.weather-temp {
  font-size: 35px;
  font-weight: 700;
}
.primary-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-info{
  justify-content: center;
}
.min-max {
  padding: 10px 10px;
  font-size: 20px;
}